= simple_form_for(@corporation) do |f|
  - if @corporation.errors.any?
    #error_explanation
      %h2
        = pluralize(@corporation.errors.count, "error")
        prohibited this corporation from being saved:
      %ul
        - @corporation.errors.full_messages.each do |msg|
          %li= msg
  = f.input :name
  = f.input :shares
  = f.input :par_value
  = f.input :incorporation_date
  = f.button :submit, class: "btn btn-primary"