= simple_form_for(@corporation) do |f|
  = f.error_notification
  %hr
  %h5 1. Company name
  %br
  = f.input :name, label: "Enter the name of the new corporation"
  %br
  %h5 2. Authorized shares
  %br
  = f.input :shares, input_html: { :value => '10,000,000' }, label: "How many shares will the corporation have?"
  %br
  = f.input :par_value, input_html: { :value => '0.000001' }, label: "What will be the par value of these shares?"
  %br
  %h5 3. Incorporator
  %br
  = f.input :incorporator_name, label: "Who is the person incorporating this company?", placeholder: "Incorporator name"
  = f.input :incorporator_street, label: false, placeholder: "Street and housenumber"
  = f.input :incorporator_zip, label: false, placeholder: "Zip code"
  = f.input :incorporator_city, label: false, placeholder: "City"
  = f.input :incorporator_state, label: false, placeholder: "State"
  = f.input :incorporator_country, label: false, :priority => [ "United States" ]
  %br
  %h5 4. Incorporation date
  %br
  = f.input :filing_date, start_year: Date.today.year, label: "What will be the date of incorporation?", :input_html => {:style => 'width: 115px'}
  %br
  %br
  = f.button :submit, "Generate Documents", class: "btn btn-primary btn-large"
  -# The incorporation date should be set as a result of the completion of the filing.
