= simple_form_for(@corporation) do |f|
  = f.error_notification
  = f.input :name, label: "What is the name of the new corporation?"
  = f.input :shares, label: "How many shares will the new corporation have?"
  = f.input :par_value, label: "What will be the par value of the new corporation's shares?"
  = f.input :filing_date, as: :date, start_year: Date.today.year, label: "What will be the date of incorporation?"
  = f.button :submit, class: "btn btn-primary"