= simple_form_for(@corporation) do |f|
  = f.error_notification
  %hr
  %h5 1. Company name
  %br
  = f.input :name, label: "Enter the name of the new corporation"
  %br
  %h5 2. Authorized shares
  %br
  = f.input :shares, input_html: { :value => '10,000,000' }, label: "How many shares will the company have?"
  %br
  = f.input :par_value, input_html: { :value => '0.000001' }, label: "What will be the par value of the company's shares?"
  %br
  %h5 3. Date of incorporation
  %br
  = f.input :filing_date, start_year: Date.today.year, label: "What will be the date of incorporation?", :input_html => {:style => 'width: 115px'}
  %br
  %br

  = f.button :submit, "Generate Documents", class: "btn btn-primary btn-large"