.row
  .span12
    %h3 Step 2 - Stock preferences
    %h4 Authorized shares
    %strong How many shares can #{@corporation.name} issue? 
    %p The number of authorized shares determines the maximum number of shares of stock that a company can issue. This can be amended with the necessary approvals.
    %br
    = f.input :shares, :label => false
    %br
    %h4 Par value
    %strong What is the value of these shares?
    %p The par value is the nominal value of the authorized shares as determined by the issuing company to be its minimum price. This choice has tax consequences.
    %br
    = f.input :par_value, :label => false
    %br
    %br
    = f.button :submit, "Continue", class: "btn-primary btn-large"
    = f.button :submit, "Go back", class: "btn-large btn-padding", :name => "back_button" unless @corporation.first_step?