- unless user_signed_in?
  = render 'welcome'

- else
  %h3 Your companies
  %br
  .row
    .span2
      %strong Name
    .span2
      %strong Shares
    .span2
      %strong Incorporator
    .span2
      %strong Filed

  %hr

  - @corporations.each do |corporation|
    .row
      .span2
        %p= corporation.name
      .span2
        %P= corporation.shares
      .span2
        %P= corporation.incorporator_name
      .span2
        %P= corporation.filing_date
      .span1.offset2
        %P= link_to 'View', corporation, :class => "btn btn-small"
      .span1
        %P= link_to 'Delete', corporation, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-small btn-danger"
    %hr
  %br/
  
  %h3 Recently incorporated componies