.row
  .span8
    %h4 Welcome to IncBot
  .span4
    = link_to 'New Incorporation', new_corporation_path, :class => "btn btn-primary btn-large pull-right"
%hr
.row
  .span2
    %strong Name
  .span2
    %strong Shares
  .span2
    %strong Par Value
  .span3
    %strong Incorporation date

%hr


- @corporations.each do |corporation|
  .row
    .span2
      %p= corporation.name
    .span2
      %P= corporation.shares
    .span2
      %P= corporation.par_value
    .span3
      %P= corporation.filing_date
    .span1
      %P= link_to 'View', corporation, :class => "btn btn-small"
    .span1
      %P= link_to 'Edit', edit_corporation_path(corporation), :class => "btn btn-small"
    .span1
      %P= link_to 'Delete', corporation, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-small btn-danger"
  %hr

%br/
